.jumbotron {
width: 75%;
margin: 10px auto;



}
hr {
 width: 50%;
 background-color: orange;

}
img {
    width: 30%;
    margin: 1% auto;

}
.gallery {
    margin: 0 auto;
    width: 95%;
    position: relative;
    display: flex;
    flex-flow: row;
    flex-wrap: wrap;

}